@use "font";
@use "variables";

.welcome-titles {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #fff;

  &__title {
    font-size: 40px;
    line-height: 53.32px;
    padding-bottom: 8px;
    font-family: font.$font-family-header;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 21.33px;
  }

  @media screen and (min-width: variables.$breaking-point) {
    gap: 24px;

    &__title {
      font-size: 84px;
      line-height: 111.97px;
      width: 70%;
    }

    &__subtitle {
      font-size: 22px;
    }
  }
}
