@use "variables";

.main-container {
  padding: 16px;
}
.welcome-container {
  padding: 64px 0px;
  background-color: rgb(49, 108, 175);
}

@media screen and (min-width: variables.$breaking-point) {
  .main-container {
    padding: 20px;
  }
}
