@use "font";
@use "variables";

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: font.$font-family-sans-serif;
  color: variables.$color-text;
}

body {
  margin: 0;
  min-width: 100%;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

input,
button {
  font: inherit;
  border: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

h1,
h2,
h3 {
  font-family: font.$font-family-serif;
}

a {
  font-family: inherit;
  text-decoration: none;
}
