@use "../font";
@use "../variables";

.second-page-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  width: 100%;

  &__title {
    display: flex;
    font-size: 40px;
    border-bottom: 3px solid variables.$color-primary;
    margin: 0px;
  }
  &__subtitle {
    display: flex;
    font-family: font.$font-family-serif;
    color: variables.$color-text-light;
    font-size: 18px;
  }

  @media screen and (min-width: variables.$breaking-point) {
    display: flex;
    flex-direction: column;
    text-align: end;
    align-items: flex-end;

    &__title {
      margin: 0;
      font-size: 64px;
      border-bottom: 3px solid variables.$color-primary;
    }
    &__subtitle {
      font-size: 24px;
      margin: 0;
    }
  }
}
