@use "../variables";

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    padding-bottom: 15px;
    font-size: 40px;
    border-bottom: 3px solid variables.$color-primary;
  }

  &__text {
    color: variables.$color-text-light;
    font-size: 18px;
  }

  @media screen and (min-width: variables.$breaking-point) {
    flex-direction: row;
    align-items: flex-end;
    gap: 60px;

    &__title {
      font-size: 64px;
    }

    &__text {
      font-size: 24px;
      margin: 0;
    }
  }
}
